##
### Aliases
##

set $Alt    Mod1
set $Super  Mod4
set $DMENU  wofi -dmenu


{% block theme %}
{% endblock %}




##
### Outputs
##

# swaymsg -t get_outputs

{% block outputs %}
{% endblock %}


##
### Inputs
##

# swaymsg -t get_inputs

{% block inputs %}
{% endblock %}


##
### Session Management
##

# Reload config file
bindsym $Alt+Shift+c  reload

set $sysmenu ":: System :: [c]ontext - [s]uspend - [l]ogout - [p]oweroff - [r]eboot "
bindsym $Alt+Shift+e mode $sysmenu
mode $sysmenu {
    bindsym c         mode $contextmenu
    bindsym s         exec systemctl suspend
    bindsym l         exit
    bindsym p         exec "firefox-sync work; systemctl poweroff"
    bindsym r         exec systemctl reboot

    bindsym Return    mode "default"
    bindsym Escape    mode "default"
}


##
### Bar Config
##

bar {
    status_command py3status -c ~/.i3/py3status.conf -i /usr/local/libexec/py3status
    position top
    tray_output $bar_output

    font pango:Ubuntu Mono 13
    colors { 
        background $neutral5
        separator  $neutral2
        statusline $neutral2

        # State             Border    BG         Text
        focused_workspace   $main1    $main2     $neutral5
        active_workspace    $neutral2 $neutral4  $neutral2
        inactive_workspace  $neutral4 $neutral4  $neutral2
        urgent_workspace    $urgent   $urgent    $neutral5
        binding_mode        $neutral5 $binding   $neutral5
    }
}


##
### Appearance
##

gaps inner 2
gaps outer -2

font pango:Ubuntu Mono 11

# Property Name         Border    BG        Text      Indicate  Child Border
client.focused          $main3    $main2    $neutral5 $main2    $main2
client.focused_inactive $main1    $neutral4 $neutral1 $neutral3 $neutral4
client.unfocused        $neutral3 $neutral4 $neutral1 $neutral4 $neutral4
client.urgent           $urgent   $urgent   $neutral5 $urgent   $urgent
client.placeholder      $neutral5 $neutral5 $neutral2 $neutral5 $neutral5
client.background       $neutral1



##
### Startup
##

exec nm-applet
exec $HOME/.cargo/bin/wl-gammarelay-rs
exec /usr/local/libexec/py3status/workspaces-daemon.sh $all_monitors


##
### Event Keybindings
##

bindsym Control+$Alt+Delete exec swaylock -c000000

bindsym F1                    exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMute         exec pactl set-sink-mute @DEFAULT_SINK@ toggle

bindsym F2                    exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioLowerVolume  exec pactl set-sink-volume @DEFAULT_SINK@ -5%

bindsym F3                    exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym XF86AudioRaiseVolume  exec pactl set-sink-volume @DEFAULT_SINK@ +5%

bindsym $Alt+Shift+s          exec grimshot save active "$HOME/tmp/screenshots/$(date +%y-%m-%d_%H:%M:%S).png"

##
### Application Start Keybindings
##

bindsym $Alt+Return      exec terminator

bindsym $Alt+d           exec j4-dmenu-desktop --dmenu='$DMENU -i -p "Run: "
bindsym $Super+f         exec DMENU='$DMENU' ~/bin/ffx-dmenu

{% for vault in pass_vaults %}
bindsym $Alt+{{ vault.hotkey }} exec{#
#} WOFI_PASS_CONFIG="$HOME/var/pass/wofi-{{ vault.name }}.conf"{#
#} wofi-pass -sc
{% endfor %}

#bindsym $Alt+semicolon  exec semiautokey

bindsym $Super+n         exec nautilus


##
### UI Settings
##

focus_follows_mouse no
mouse_warping none
floating_modifier $Alt



##
### Window Management
##

# Close Focused Window
bindsym $Alt+Shift+q     kill

# Change Focus
bindsym $Alt+Up          focus up
bindsym $Alt+Down        focus down

bindsym $Alt+Right       focus right
bindsym $Alt+Tab         focus right

bindsym $Alt+Left        focus left
bindsym $Alt+Shift+Tab   focus left

# Move Focused Window
bindsym $Alt+Shift+Left  move left
bindsym $Alt+Shift+Down  move down
bindsym $Alt+Shift+Up    move up
bindsym $Alt+Shift+Right move right

# Rename Focused Window
bindsym $Alt+t           exec i3-msg "[con_id=__focused__] title_format $(echo '' | dmenu -p 'New Title: ')"

# Set Horizontal or Vertical Split
bindsym $Alt+h           splith
bindsym $Alt+v           splitv

# Fullscreen Focused Container
bindsym $Alt+f           fullscreen

# Container Layouts
bindsym $Alt+s           layout stacking
bindsym $Alt+w           layout tabbed
bindsym $Alt+e           layout toggle split

# Toggle Focused Window (Tiling/Floating)
bindsym $Alt+Shift+space floating toggle

# Change Focus (Between Floating Window and Tiles)
bindsym $Alt+space       focus mode_toggle

# Focus the Parent/Child Container
bindsym $Alt+a           focus parent
bindsym $Alt+Shift+a     focus child

# Switch to Workspace
bindsym $Alt+1           workspace number 1
bindsym $Alt+2           workspace number 2
bindsym $Alt+3           workspace number 3
bindsym $Alt+4           workspace number 4
bindsym $Alt+5           workspace number 5
bindsym $Alt+6           workspace number 6
bindsym $Alt+7           workspace number 7
bindsym $Alt+8           workspace number 8
bindsym $Alt+9           workspace number 9
bindsym $Alt+0           workspace number 0

# Move Focused Container to Workspace
bindsym $Alt+Shift+1     move container to workspace number 1
bindsym $Alt+Shift+2     move container to workspace number 2
bindsym $Alt+Shift+3     move container to workspace number 3
bindsym $Alt+Shift+4     move container to workspace number 4
bindsym $Alt+Shift+5     move container to workspace number 5
bindsym $Alt+Shift+6     move container to workspace number 6
bindsym $Alt+Shift+7     move container to workspace number 7
bindsym $Alt+Shift+8     move container to workspace number 8
bindsym $Alt+Shift+9     move container to workspace number 9
bindsym $Alt+Shift+0     move container to workspace number 0


# Resize Mode
bindsym $Alt+r           mode ":: Resize ::"
mode ":: Resize ::" {

    # Resize Keybindings
    bindsym Up           resize shrink height 10 px or 10 ppt
    bindsym Left         resize shrink width  10 px or 10 ppt
    bindsym Down         resize grow   height 10 px or 10 ppt
    bindsym Right        resize grow   width  10 px or 10 ppt

    # More Granularity
    bindsym Shift+Left   resize shrink width  1 px or 1 ppt
    bindsym Shift+Down   resize grow   height 1 px or 1 ppt
    bindsym Shift+Up     resize shrink height 1 px or 1 ppt
    bindsym Shift+Right  resize grow   width  1 px or 1 ppt

    # Exit Resize Mode
    bindsym Return       mode "default"
    bindsym Escape       mode "default"
}


##
### Window Settings
##

# Global
for_window [class="^.*"] border pixel 2 hide_edge_borders both

# Per Application
for_window [class="firefox"] border pixel 0
for_window [class="Pavucontrol"] floating enable move absolute position 864px 23px; resize grow height 100px;
for_window [app_id="nm-connection-editor"] floating enable;



##
### Scratchpad
##

# Sway has a "scratchpad", which is a bag of holding for windows.
# You can send windows there and get them back later.

# Move the currently focused window to the scratchpad
bindsym $Alt+Shift+minus move scratchpad

# Show the next scratchpad window or hide the focused scratchpad window.
# If there are multiple scratchpad windows, this command cycles through them.
bindsym $Alt+minus scratchpad show


include /etc/sway/config.d/*