{% extends 'config.j2' %}

{% block outputs %}
set $bar_output     eDP-1
set $laptop_monitor eDP-1
set $all_monitors   eDP-1 HDMI-A-1
output HDMI-A-1 position 0,0      resolution 1920x1080 transform 270
output eDP-1    position 1081,200 resolution 1920x1080 scale 1.20
{% endblock %}


{% block inputs %}
input "SynPS/2 Synaptics TouchPad" {
    tap enabled
}
input "1:1:AT_Translated_Set_2_keyboard" {
    xkb_options caps:swapescape
}
{% endblock %}



{% block theme %}
# Colors
set $white #ffffff
set $ltgrey #e0e0e0
set $grey #b0b0b0
set $dkgrey #303030
set $black #000000

set $ltseafoam #1affd1
set $seafoam #00cca3
set $dkseafoam #00997a
set $magenta #ff33cc
set $goldenrod #fda331


# Theme
set $neutral1 $white
set $neutral2 $ltgrey
set $neutral3 $grey
set $neutral4 $dkgrey
set $neutral5 $black

set $main1 $ltseafoam
set $main2 $seafoam
set $main3 $dkseafoam
set $urgent $magenta
set $binding $goldenrod

{% endblock %}