
{% if 'tailscale' in addresses.keys() %}
ListenAddress {{ addresses.tailscale.ip }}
{% endif %}
Port {{ sshd_port }}

PermitRootLogin no
AllowGroups {{ sshd_allow_group }}

AuthenticationMethods publickey

#LogLevel VERBOSE

DisableForwarding yes
PrintMotd no

AcceptEnv {#
    #}XMODIFIERS  LC_ALL {#
    #}LANG        LANGUAGE {#
    #}LC_CTYPE    LC_NUMERIC {#
    #}LC_TIME     LC_COLLATE {#
    #}LC_MONETARY LC_MESSAGES {#
    #}LC_PAPER    LC_MEASUREMENT {#
    #}LC_ADDRESS  LC_TELEPHONE {#
    #}LC_NAME     LC_IDENTIFICATION

Protocol 2
Compression no

Include /etc/ssh/sshd_algorithms

Include /etc/ssh/sshd_config.d/*
