
{% macro rule_set(target_ips, rules, chain, target)
%}{% for rule in rules
%}{%   set comment = rule.name|default("")
%}{%   for source_str in rule.sources|default(["*"])
%}{%     for dest_str in rule.destinations|default(["*"])
%}{%       for iface_str in rule.interfaces|default(["*"])
%}{%         for port_str in rule.ports|default(["*"])
%}{{           iptables_rule(target_ips,
                   chain, source_str, dest_str, port_str,
                   iface_str=iface_str, target=target, comment=comment
               )}}
{%
     endfor %}{% endfor %}{% endfor %}{% endfor %}{% endfor
%}{%
endmacro %}


{% macro iptables_rule(target_ips,
    chain, source_str, dest_str, port_str,
    iface_str="*", target="ACCEPT", comment=""
) %}-A {{ chain }} {%
        if source_str != "*"
            %}-s {{ target_ips[source_str] | default(source_str) }} {%
        endif
    %}{%
        if dest_str != "*"
            %}-d {{ target_ips[dest_str] | default(dest_str) }} {%
        endif
    %}{%
        if iface_str != "*"
            %}{%
                if chain == "OUTPUT"
                    %}-o{%
                else
                    %}-i{%
                endif
            %} {{ iface_str }} {%
        endif
    %}{%
        if "icmp" in port_str or port_str == "ping"
            %}-p icmp {%
        elif port_str != "*"
            %}-p {{
                (port_str | split("/"))[1]
            }} --dport {{
                (port_str | split("/"))[0]
            }} {%
        endif
    %}-j {{
        target
    }}{%
        if comment
    %} -m comment --comment "{{ comment }}"{%
        endif
    %}{%
endmacro %}
