---
- name: >
    standard/main : {{ automation_user.name }}
    : Ensure SSHable Group
  group:
    name: ssh
  become: True


- name: >
    standard/main : {{ automation_user.name }}
    : Create automation user
  user:
    name: "{{ automation_user.name }}"
    state: present
    password: "{{ automation_user.pass_hash }}"
    uid: "{{ automation_user.uid | default('2000') }}"
  become: True


- name: >
    standard/main : {{ automation_user.name }}
    : Add automation user to admin group
  user:
    name: "{{ automation_user.name }}"
    groups:
      - "{{ admin_group[system] }}"
    append: True
  become: True


- name: >
    standard/main : {{ automation_user.name }}
    : User ssh setup
  include_role:
    name: user/ssh
  vars:
    user: "{{ automation_user }}"
