---
- include_tasks: gen-ca.yml

- name: >
    gen-signed
    : Generate Key (RSA 4096-bit)
  delegate_to: localhost
  community.crypto.openssl_privatekey:
    path: "{{ controller_user_home }}/.config/certs/{{ cert_name }}.key"

- name: >
    gen-signed
    : Generate CSR
  delegate_to: localhost
  community.crypto.openssl_csr:
    common_name: >
      {% if dns_name|default('')
          %}{{ dns_name }}{%
      else
          %}{{ inventory_hostname }}{%
      endif %}
    path: "{{ controller_user_home }}/.config/certs/{{ cert_name }}.csr"
    privatekey_path: "{{ controller_user_home }}/.config/certs/{{ cert_name }}.key"
    subject_alt_name: >
      {% if subject_alt_name|default('')
          %}{{ subject_alt_name }}{%
      else
        %}DNS:{{ inventory_hostname }}{%
      endif %}

- name: >
    gen-signed
    : Generate Cert from Env CA
  delegate_to: localhost
  community.crypto.x509_certificate:
    path: "{{ controller_user_home }}/.config/certs/{{ cert_name }}.crt"
    csr_path: "{{ controller_user_home }}/.config/certs/{{ cert_name }}.csr"
    ownca_path: "{{ controller_user_home }}/.config/certs/CA.crt"
    ownca_privatekey_path: "{{ controller_user_home }}/.config/certs/CA.key"
    provider: ownca

# - include_role:
#     name: utils/tls
#     tasks_from: gen-signed
#   vars:
#     cert_name:
#     dns_name:  default inventory_hostname
#     subject_alt_name: default inventory_hostname
