---
- set_fact:
    tls_dir: "{{ tls_dir | default('{{ controller_user_home }}/.config/certs') }}"
- set_fact:
    ca_tls_dir: "{{ ca_tls_dir | default(tls_dir) }}"

- name: >
    gen-ca
    : Ensure Local TLS Directories
  delegate_to: localhost
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - "{{ tls_dir }}"
    - "{{ ca_tls_dir }}"


- name: >
    gen-ca
    : Generate CA Key (RSA 4096-bit)
  delegate_to: localhost
  community.crypto.openssl_privatekey:
    path: "{{ ca_tls_dir }}/CA.key"

- name: >
    gen-ca
    : Generate CA CSR
  delegate_to: localhost
  community.crypto.openssl_csr:
    path: "{{ ca_tls_dir }}/CA.csr"
    privatekey_path: "{{ ca_tls_dir }}/CA.key"
    common_name: "ca.{{ domain }}"
    basic_constraints: ["CA:TRUE"]

- name: >
    gen-ca
    : Generate CA Cert
  delegate_to: localhost
  community.crypto.x509_certificate:
    path: "{{ ca_tls_dir }}/CA.crt"
    privatekey_path: "{{ ca_tls_dir }}/CA.key"
    csr_path: "{{ ca_tls_dir }}/CA.csr"
    provider: selfsigned
