---
- include_role:
    name: utils/alpine
    tasks_from: generate-setup
  vars:
    setup_name: podman
    ansible_role: base/podman
    templates:
      - alpine/setup.sh
    executable_files:
      - setup.sh
