---
- set_fact:
    setup_name: mosquitto


- include_role:
    name: utils/alpine
    tasks_from: generate-setup
  vars:
    ansible_role: service/mosquitto
    templates:
      - alpine/setup.sh
      #- alpine/mosquitto.rc
      - mosquitto.conf
    executable_files:
      - setup.sh
      #- mosquitto.rc



- include_role:
    name: utils/alpine
    tasks_from: podman-service
  vars:
    host_network: True
    # ports:
    #   - 1883:1883
    volumes:
      - /var/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:z
      - /var/mosquitto/data:/mosquitto/data:z
      - /var/mosquitto/log:/mosquitto/log:z
    image: eclipse-mosquitto
