---
- name: >
    user-config
    : Set ipython startup config dir
  ansible.builtin.set_fact:
    ipython_startup_dir: >
      {{ user.home
         | default("/home/" + user.name)
      }}/.ipython/profile_default/startup

- name: >
    user-config
    : Ensure directory
  ansible.builtin.file:
    path: "{{ ipython_startup_dir }}"
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: 0700
  become: True

- name: >
    user-config
    : Place startup script
  ansible.builtin.copy:
    src: startup.py
    dest: "{{ ipython_startup_dir }}/startup.py"
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: 0600
  become: True
