#!/sbin/openrc-run
  
name=home-assistant
pidfile="/run/home-assistant.pid"
command_background="yes"
output_log="/var/log/home-assistant.log"
error_log="/var/log/home-assistant.err"

command="/usr/bin/podman"
command_args="
    run --rm
    --name home-assistant
    --network host
    --privileged
    -v /var/home-assistant/config:/config
    -e TZ=America/Chicago
    ghcr.io/home-assistant/home-assistant:stable
"

start_pre() {
    /usr/bin/podman rm home-assistant || /bin/true
}

stop () {
    /usr/bin/podman stop home-assistant
}
