---
- set_fact:
    setup_name: radicale

- include_role:
    name: utils/alpine
    tasks_from: generate-setup
  vars:
    ansible_role: service/radicale
    templates:
      - alpine/setup.sh
      #- alpine/radicale.rc
      - config
    executable_files:
      - setup.sh
      #- radicale.rc

- name: >
    alpine/main
    Generate htpasswd file for auth
  delegate_to: localhost
  htpasswd:
    path: "{{ local_build_dir }}/radicale/users.htpasswd"
    crypt_scheme: apr_md5_crypt
    name: "{{ radicale_user.name }}"
    password: "{{ radicale_user.pass }}"



- include_role:
    name: utils/alpine
    tasks_from: podman-service
  vars:
    ports:
      - 5232:5232
    volumes:
      - /var/radicale/config:/config/config:ro
      - /var/radicale/users.htpasswd:/users.htpasswd:ro
      - /var/radicale/data:/data
    extra_args: >-
      --init
      --read-only
      --security-opt="no-new-privileges:true"
      --cap-drop ALL
      --cap-add CHOWN
      --cap-add SETUID
      --cap-add SETGID
      --cap-add KILL
      --pids-limit 50
      --memory 256M
      --health-interval=30s
      --health-retries=3
    image: tomsquest/docker-radicale

#      --health-cmd="curl --fail http://localhost:5232 || exit 1"
