---
- name: Install
  package:
    name: netdata
    state: installed
  become: True


- name: Config File
  copy:
    src: systemd/netdata.conf
    dest: /etc/netdata/netdata.conf
  become: True
  notify: restart netdata

- name: Enable Systemd Service Accounting
  lineinfile:
    path: /etc/systemd/system.conf
    line: "Default{{ item }}Accounting=yes"
    regexp: "^#?Default{{ item }}Accounting=.*$"
  loop: ["CPU", "IO", "BlockIO", "Memory", "Tasks"]
  become: True


- name: Systemd Daemon Reexec
  command: systemctl daemon-reexec
  become: True

- name: Start and Enable Service
  service:
    name: netdata
    state: started
    enabled: True
  become: True
