
Port {{ sshd.primary.port }}
Port {{ sshd.jump.port }}

ListenAddress 0.0.0.0

PermitRootLogin no

AuthenticationMethods publickey
AuthorizedKeysFile /etc/ssh/authorized_keys/%u

#LogLevel VERBOSE


AcceptEnv {#
    #}XMODIFIERS  LC_ALL            {#
    #}LANG        LANGUAGE          {#
    #}LC_CTYPE    LC_NUMERIC        {#
    #}LC_TIME     LC_COLLATE        {#
    #}LC_MONETARY LC_MESSAGES       {#
    #}LC_PAPER    LC_MEASUREMENT    {#
    #}LC_ADDRESS  LC_TELEPHONE      {#
    #}LC_NAME     LC_IDENTIFICATION

Compression no

Ciphers {#
    #}chacha20-poly1305@openssh.com,{#
    #}aes256-gcm@openssh.com,{#
    #}aes128-gcm@openssh.com,{#
    #}aes256-ctr
MACs {#
    #}hmac-sha2-256-etm@openssh.com,{#
    #}hmac-sha2-512-etm@openssh.com
HostKeyAlgorithms {#
    #}rsa-sha2-512,{#
    #}rsa-sha2-256,{#
    #}ssh-ed25519
KexAlgorithms {#
    #}curve25519-sha256,{#
    #}curve25519-sha256@libssh.org,{#
    #}diffie-hellman-group16-sha512,{#
    #}diffie-hellman-group18-sha512,{#
    #}diffie-hellman-group14-sha256


Match LocalPort {{ sshd.jump.port }}
    AllowGroups jump
    AllowTcpForwarding yes
    ForceCommand /sbin/nologin
    PermitTTY no
    AllowAgentForwarding no
    AllowStreamLocalForwarding no

Match LocalPort {{ sshd.primary.port }}
    AllowUsers {{ login_user.name }}
    DisableForwarding yes
    PrintMotd no
