---
- include_role:
    name: utils/alpine
    tasks_from: generate-setup
  vars:
    setup_name: login-users
    ansible_role: base/login-users
    templates:
      - alpine/setup.sh
    executable_files:
      - setup.sh

- name: >
    alpine/main
    : Login Authorized Keys
  delegate_to: localhost
  copy:
    content: |
      {% for keyname in item.authorized_keys %}
      {{ ssh_keys[keyname].pub }}
      {% endfor %}
    dest: "{{ local_build_dir }}/login-users/{{ item.name }}.authorized_keys"
  loop: "{{ automation_users | default([]) }}"
