---
version: '3'
services:
  home-assistant:
      container_name: home-assistant
      image: "ghcr.io/home-assistant/home-assistant:stable"
      network_mode: host
      volumes:
        - /var/home-assistant/config:/config
        - /etc/localtime:/etc/localtime:ro
      restart: unless-stopped
      privileged: true
