---
- name: >
    debian/auto-updates
    : Install unattended-upgrades
  apt:
    name:
      - unattended-upgrades
    state: present
  become: True

- name: >
    debian/auto-updates
    : Config for Unattended Upgrades
  lineinfile:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    line: >-
      {{ item.opt }} {{ item.value }};
    regexp: >-
      .*{{ item.opt }} .*;
    state: present
  become: True
  loop:
    - opt: Unattended-Upgrade::MinimalSteps
      value: '"true"'
    - opt: Unattended-Upgrade::Automatic-Reboot
      value: '"true"'
    - opt: Unattended-Upgrade::Automatic-Reboot-Time
      value: '"06:00"'
  notify: restart unattended-upgrades

- name: >
    debian/auto-updates
    : 
  systemd:
    name: unattended-upgrades
    state: started
    enabled: True
  become: True
