---
- name: >
    fedora/service
    : Ensure Directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ mpd.user }}"
    group: "{{ mpd.user }}"
  become: True
  loop:
    - "{{ mpd.config_dir }}/playlists"
    - "/home/{{ mpd.user }}/.config/systemd/user/"
    - "{{ mpd.music_dir }}"

- name: >
    fedora/service
    : Systemd User Services
  template:
    src: mpd.service
    dest: "/home/{{ mpd.user }}/.config/systemd/user/{{ mpd.service_name }}.service"
    owner: "{{ mpd.user }}"
    group: "{{ mpd.user }}"
  become: True

- name: >
    fedora/service
    : Config File
  template:
    src: mpd.conf
    dest: "{{ mpd.config_dir }}/mpd.conf"
    owner: "{{ mpd.user }}"
    group: "{{ mpd.user }}"
  become: True

- name: >
    fedora/service
    : Systemd Daemon Reload
  systemd_service:
    scope: user
    daemon_reload: true
  become: True
