---
- set_fact:
    stripped_files: >
      {
        {% for f in templates %}
          "{{ f.split('/')[-1] }}": "{{ f }}"
          {% if not loop.last %},{% endif %}          
        {% endfor %}
      }

- name: >
    generate-setup
    : {{ ansible_role }}
    : Ensure directory for {{ setup_name }}
  delegate_to: localhost
  file:
    path: "{{ local_build_dir }}/{{ setup_name }}"
    state: directory


- name: >
    generate-setup
    : {{ ansible_role }}
    : Template files into build directory
  delegate_to: localhost
  template:
    src: "../../../{{ ansible_role }}/templates/{{ item.value }}"
    dest: "{{ local_build_dir }}/{{ setup_name }}/{{ item.key }}"
  loop: "{{ stripped_files | dict2items }}"


- name: >
    generate-setup
    : {{ ansible_role }}
    : Set executable for scripts
  delegate_to: localhost
  file:
    path: "{{ local_build_dir }}/{{ setup_name }}/{{ item }}"
    mode: 0750
  loop: "{{ executable_files }}"
