#!/sbin/openrc-run
  
name=mosquitto
pidfile="/run/mosquitto.pid"
command_background="yes"
output_log="/var/log/mosquitto.log"
error_log="/var/log/mosquitto.err"

command="/usr/bin/podman"
command_args="
    run --rm
    --name mosquitto
    --network host
    -v /var/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:z
    -v /var/mosquitto/data:/mosquitto/data:z
    -v /var/mosquitto/log:/mosquitto/log:z
    eclipse-mosquitto:latest
"
# -p 1883:1883

stop () {
    /usr/bin/podman stop mosquitto
}
