---
- set_fact:
    static_isolated_hosts: >-
        {
          {% for net_name, net in networks.items() %}
              {% set net_loop = loop %}
              {% for host_info in net.hosts|default([]) %}
                  {% set cidr = net.cidr | ipsubnet(30, loop.index) %}
                  "{{ host_info.name }}": {
                      "network_name": "{{ net_name }}",
                      "isolation_subnet_cidr": "{{ cidr }}",
                      "gateway": "{{ cidr | ipmath(1) }}",
                      "ip": "{{ cidr | ipmath(2) }}",
                      "hwaddr": "{{ host_info.hwaddr }}"
                  }{% if not (net_loop.last and loop.last) %},{% endif %}
              {% endfor %}
          {% endfor %}
        }

- set_fact:
    target_ips: >-
        {
          {% for sys_name, sys_data in (hostvars|key_match_filter("hardware", "protectli")).items() %}
            {% set sys_loop = loop %}
            {% for net_name, net in (sys_data.networks|default({})).items() %}
              {% set net_loop = loop %}
              {% for host_info in net.hosts|default([]) %}
                {% set cidr = net.cidr | ipsubnet(30, loop.index) %}
                "{{ sys_name }}.{{ host_info.name }}": "{{ cidr | ipmath(2) }}",
                "{{ host_info.name }}": "{{ cidr | ipmath(2) }}",
              {% endfor %}{# host_info #}
              {% if sys_name == inventory_hostname %}
                "{{ net_name }}": "{{ net.cidr }}",
              {% endif %}
              "{{ sys_name }}.{{ net_name }}": "{{ net.cidr }}"{% if not (sys_loop.last and net_loop.last) %},{% endif %}
            {% endfor %}{# net_name, net #}
          {% endfor %}{# sys_name, sys_data #}
        }





# - set_fact:
#     target_ips: >-
#         {
#           {% for name, info in static_isolated_hosts.items() %}
#               "{{ name }}": "{{ info.ip }}",
#           {% endfor %}
#           {% for net_name, net_info in networks.items() %}
#               "{{ net_name }}": "{{ net_info.cidr }}"{% if not loop.last %},{% endif %}
#           {% endfor %}
#         }

- debug:
    msg: |
      {{ target_ips }}
