#!/sbin/openrc-run

name=sshd-jump
pidfile="/run/sshd-jump.pid"
command_background="yes"

command="/usr/bin/podman"
command_args="
    run
    --name sshd-jump
    --network host
    --rm
    -v /var/sshd-jump/sshd_config:/etc/ssh/sshd_config:ro
    -v /var/sshd-jump/authorized_keys:/etc/ssh/authorized_keys:ro
    sshd-jump:latest
"
