#!/sbin/openrc-run
  
name={{ setup_name }}
pidfile="/run/{{ setup_name }}.pid"
command_background="yes"
output_log="/var/log/{{ setup_name }}.log"
error_log="/var/log/{{ setup_name }}.err"

command="/usr/bin/podman"
command_args='
    run --rm
    --name {{ setup_name }}

{% if host_network | default('') %}
    --network host
{% else %}
  {% for port in ports | default([]) %}
    -p {{ port }}
  {% endfor %}
{% endif %}

{% if privileged | default('') %}
    --privileged
{% endif %}

{% for volume in volumes | default([]) %}
    -v "{{ volume }}"
{% endfor %}

{% for k, v in ( env_vars|default({}) ).items() %}
    -e {{ k }}={{ v }}
{% endfor %}

    {{ extra_args | default('') }}

    {{ image }}:{{ tag | default("latest") }}

'

start_pre() {
    /usr/bin/podman rm {{ setup_name }} || /bin/true
}

stop () {
    /usr/bin/podman stop {{ setup_name }} || /bin/true
}
