
{
    email {{ personal_email }}
}

{% for proxy in caddy_backends %}

{{ proxy.service }}.{{ domain }}:443 {
    reverse_proxy {{
        proxy.protocol | default('http')
    }}://{{
        hostvars[
            proxy.backend_host
        ].addresses[
            proxy.backend_network | default('tailscale')
        ].ip
    }}:{{
        services[
            proxy.service
        ].ports[
            proxy.backend_port_name | default('primary')
        ]
    }}
}

{% endfor %}
