---
global:
  scrape_interval: 60s
  scrape_timeout: 50s
  evaluation_interval: 120s


scrape_configs:

{% macro netdata_job(name, ip) %}
  - job_name: "{{ name }}-netdata"
    metrics_path: /api/v1/allmetrics
    params:
      format: ["prometheus"]
      honor_labels: [true]
    static_configs:
      - targets: ["{{ ip }}:19999"]
{% endmacro %}

{% for target in prometheus_config.netdata_targets %}

{% if target in networks.keys() %}
{% for host in networks[target].hosts|default([]) %}
{% set ip = static_isolated_hosts[host.name].ip %}
{{ netdata_job(host.name, ip) }}
{% endfor %}

{% elif target in static_isolated_hosts.keys() %}
{% set ip = static_isolated_hosts[target].ip %}
{{ netdata_job(target, ip) }}

{% else %}{# assume IP address #}
{{ netdata_job(target, target) }}

{% endif %}

{% endfor %}

