#!/sbin/openrc-run
  
name=prometheus
pidfile="/run/prometheus.pid"
command_background="yes"

command="/usr/bin/podman"
command_args="
    run
    --name prometheus
    --network host
    --rm
    -v /var/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    -v /var/prometheus/data:/prometheus
    prom/prometheus:latest
    --config.file=/etc/prometheus/prometheus.yml
    --web.listen-address=0.0.0.0:9090
"
# -p 9090:9090
