---
- name: >
    main
    :
  package:
    name: "{{ lvm_package[ ansible_facts.os_family ] }}"
    state: present
  become: True

- name: >
    main
    :
  command: lvscan
  become: True

- name: >
    main
    :
  file:
    path: "{{ item.dest }}"
    state: directory
  loop: "{{ mounts }}"
  become: True

- name: >
    main
    :
  lineinfile:
    path: /etc/fstab
    line: >-
      {{ item.src }}
      {{ item.dest }}
      {{ item.type|default("ext4") }}
      {{ item.options|default("defaults") }}
      0 0
  loop: "{{ mounts }}"
  become: True

- name: >
    main
    :
  command: mount {{ item.dest }}
  loop: "{{ mounts }}"
  become: True
  register: out
  failed_when: >
    out.failed
    and "already mounted" not in out.stderr
