window {
    margin: 0px;
    background-color: {{ colors[theme.neutral4] }};
    border-radius: 15px;
    border: 2px solid {{ colors[theme.main1] }};
}

#input {
    margin: 5px;
    border: none;
    color: {{ colors[theme.neutral1] }};
    background-color: {{ colors[theme.main3] }};
    border-radius: 15px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: {{ colors[theme.neutral4] };
    border-radius: 15px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: {{ colors[theme.neutral4] };
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: {{ colors[theme.neutral1] }};
    font-family: Ubuntu Mono, monospace;
    font-size: 1.2em;
} 

#entry:selected {
    background-color: {{ colors[theme.main3] }};
    border-radius: 15px;
    outline: none;
}

#entry:selected * {
    background-color: {{ colors[theme.main3] }};
    border-radius: 15px;
    outline: none;
}
