---
- name: >
    main
    : Ensure Directories
  file:
    path: "{{ user.home }}/.config/nvim/{{ item }}"
    state: directory
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: 0700
  loop:
    - lua
    - site/pack/packer/start
  become: True


- name: >
    main
    : Symlink Packer into Nvim Config
  file:
    path: "{{ user.home }}/.config/nvim/site/pack/packer/start/packer.nvim"
    src: "/usr/local/src/packer.nvim"
    state: link
  become: True


- name: >
    main
    : Copy Config files
  copy:
    src: "{{ item }}"
    dest: "{{ user.home }}/.config/nvim/{{ item }}"
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: 0600
  loop:
    - init.lua
    - lua/keys.lua
    - lua/opts.lua
    - lua/plugins.lua
    - lua/vars.lua
  become: True
