[Unit]
Description=Nftables from Assembled Config
Documentation=man:nft(8)
Wants=network-pre.target
Before=network-pre.target

[Service]
Type=oneshot
ProtectHome=true

ExecStart=/usr/local/bin/nftables-generate.sh
ExecStart=/sbin/nft -f /etc/nftables/assembled.conf
ExecStart=/bin/systemctl restart tailscaled

#ExecReload=/usr/local/bin/nftables-generate.sh
#ExecReload=/sbin/nft -f /etc/nftables/assembled.conf
#ExecReload=/bin/systemctl restart tailscaled

ExecStop=/sbin/nft flush ruleset

RemainAfterExit=yes


[Install]
WantedBy=multi-user.target
