

{% macro get_backend_fqdn(backend) -%}{%

    if backend.subdomain|default('')
        %}{{
          backend.subdomain
        }}.{%
    endif
    %}{{
      hostvars[backend.host].subdomain
    }}.{{
      hostvars[backend.host].domain
    }}{%

endmacro -%}


{#% macro proxy_settings(location) %}
things
{% endmacro %#}



{% macro proxy_pass(backend) %}{%
    if backend.proxy_pass | default('')
        %}{{
            backend.proxy_pass
        }}{%
    else
        %}http{%
        if backend.tls | default('')
            %}s{%
        endif

        %}://{%

        if backend.upstream | default('')
            %}{{ backend.upstream }}{%
        else
            %}{%
            if backend.host | default('')
                %}{{
                    get_backend_fqdn(backend)
                }}{%
            else
                %}{{
                  backend.fqdn
                }}{%
            endif
            %}:{{
              backend.port | default("80")
            }}{%
        endif

        %}{%

        if backend.uri | default('')
            %}{{
              backend.uri
            }}{%
        endif
        %}{%
    endif
    %}{%
endmacro -%}


server {

    server_name  {{ srv.name }}.{{ subdomain }}.{{ domain }};
    root         /usr/share/nginx/html;

{% if srv.use_tls | default('') %}
    {% set default_port = "2443" %}
    {% set listen_ssl = " ssl" %}
    set $name {{ srv.name }};
    include /etc/nginx/conf.d/tls.conf;
{% else %}
    {% set default_port = "280" %}
    {% set listen_ssl = "" %}
{% endif %}

    listen {{ srv.port | default(default_port) }}{{ listen_ssl }};
    listen [::]:{{ srv.port | default(default_port) }}{{ listen_ssl }};





{% block locations %}
{% for l in srv.locations %}

    location {{ l.location }} {

        proxy_pass {{ proxy_pass(l.backend) }};

        {{ proxy_settings(l)}}

    }

{% endfor %}
{% endblock %}


}
