---
# - name: Update System Packages
#   import_playbook: update.yml

- name: Tear down temporary user
  hosts: desktop, server, router
  tasks:

    - name: Remove temporary user
      user:
        name: "{{ temporary_user_name }}"
        state: absent
      become: True

    - name: Remove temporary user home
      file:
        path: "/home/{{ temporary_user_name }}"
        state: absent
      become: True



- name: Common Roles
  hosts: all
  tasks:

    - include_role:
        name: base/system

    - include_role:
        name: service/sshd

    - include_role:
        name: shell/user
      loop_control:
        loop_var: user
      loop: "{{ login_users | default([]) }}"


- name: Router
  hosts: router
  vars:
    internal: >
      {{  hostvars[internal_network_name].internal_hosts_blueprint
          | internal_blueprint(
              hostvars[internal_network_name].internal_networks_blueprint
      ) | tojson }}
  roles:
    - router/system
    - router/network
    - router/nftables
    - router/dnsmasq


- name: Desktop System
  hosts: desktop
  roles:
    - desktop/sway

    # - desktop/i3
    # - desktop/xrandr
    # - desktop/xbindkeys
    # - desktop/rofi

    - desktop/py3status
    - desktop/terminator
    - desktop/j4-dmenu-desktop
    #- desktop/autokey
    - desktop/printer
    - desktop/ubuntu-fonts
    - desktop/misc

      #- apps/spotify
    - apps/sublime-text


- name: Desktop and GUI Configs for Primary User
  hosts: desktop
  tasks:
    - include_role:
        name: desktop/user
      vars:
        user: "{{ primary_user }}"


- name:
  hosts: servers, desktop
  roles:
    - shell/zsh
    - shell/utils
    - service/syncthing


- name: Chronos-Specific Setup
  hosts: chronos
  roles:
    - service/git


- name: Hypnos-Specific Setup
  hosts: hypnos
  roles:
    - jobs/yard-photos


- name: Uranus-Specific Setup
  hosts: uranus
  roles:
    #- service/git
    - service/sshd-jump
