---
- set_fact:
    setup_name: nginx


- name: >
    alpine/main
    : Ensure conf.d Directories
  delegate_to: localhost
  file:
    path: "{{ local_build_dir }}/nginx/{{ item }}"
    state: directory
  loop:
    - conf.d
    - tls


- include_role:
    name: utils/alpine
    tasks_from: generate-setup
  vars:
    setup_name: nginx
    ansible_role: service/nginx
    templates:
      - alpine/setup.sh
      #- alpine/nginx.rc
      - tls.conf
      - upstream.conf
    executable_files:
      - setup.sh
      #- nginx.rc


- include_tasks: alpine/server-config.yml
  loop: "{{ nginx_servers }}"
  loop_control:
    loop_var: srv


- include_role:
    name: utils/alpine
    tasks_from: podman-service
  vars:
    host_network: True
    # ports:
    #   - 2443:2443
    volumes:
      - /var/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /var/nginx/conf.d:/etc/nginx/conf.d:ro
      - /var/nginx/tls:/etc/nginx/tls:ro
      - /var/nginx/log:/var/log/nginx
    image: nginx