---
- name: >
    alpine/setup
    : Server Config
  delegate_to: localhost
  template:
    src: servers/{{ srv.template }}.vhost
    dest: "{{ local_build_dir }}/nginx/conf.d/{{ srv.name }}.vhost"


- name: >
    alpine/setup
    : Generate Certificates and Keys
  include_role:
    name: utils/tls
    tasks_from: gen-signed
  vars:
    cert_name: "{{ srv.name }}"
    dns_name:  "{{ srv.name }}.{{ subdomain }}.{{ domain }}"
    subject_alt_name: "DNS:{{ srv.name }}.{{ subdomain }}.{{ domain }}"


- name: >
    alpine/server-config
    : Copy Key
  delegate_to: localhost
  copy:
    src: "{{ tls_dir }}/{{ srv.name }}.key"
    dest: "{{ local_build_dir }}/nginx/tls/{{ srv.name }}.key"


- name: >
    alpine/server-config
    : Copy Cert Chain
  delegate_to: localhost
  copy:
    content: |
      {{ lookup('file', "{{ tls_dir }}/CA.crt") }}
      {{ lookup('file', "{{ tls_dir }}/{{ srv.name }}.crt") }}
    dest: "{{ local_build_dir }}/nginx/tls/{{ srv.name }}.crt-chain"

