---
- name: >
    centos/config
    : SSHD Config File
  template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    validate: /usr/sbin/sshd -t -f %s
  become: True
  notify: ['sshd restart']

- name: >
    centos/config
    : Ensure SSHable Group
  group:
    name: ssh
  become: True

- name: >
    centos/config
    : Install SELinux tools
  include_role:
    name: base/selinux
    tasks_from: install

- name: >
    centos/config
    : SELinux allow custom ssh port
  command: semanage port -a -t ssh_port_t -p tcp {{ sshd_port }}
  become: True
  register: semanage_out
  changed_when: '"already defined" not in semanage_out'
  failed_when: False
