#!/sbin/openrc-run
  
name=nginx
pidfile="/run/nginx.pid"
command_background="yes"
output_log="/var/nginx/container.out"
error_log="/var/nginx/container.err"

command="/usr/bin/podman"
command_args="
    run --rm
    --name nginx
    --network host
    -v /var/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    -v /var/nginx/conf.d:/etc/nginx/conf.d:ro
    -v /var/nginx/tls:/etc/nginx/tls:ro
    -v /var/nginx/log:/var/log/nginx

    nginx:latest
"

stop () {
    /usr/bin/podman stop nginx
}
