
- name: >
    git-user
    : Authorized keys for git SSH access
  copy:
    dest: /var/lib/git-server/authorized_keys/{{ git_user.name }}
    content: |
      {% for key_name in git_user.authorized_keys
      %}{{ ssh_keys[key_name].pub }}
      {% endfor %}
    owner: git-server
    group: git-server
    mode: 640
  become: True

- name: >
    git-user
    : Ensure home directory
  file:
    path: /var/lib/git-server/home/{{ git_user.name }}
    state: directory
    owner: git-server
    group: git-server
    mode: 750
  become: True
