---
- name: >
    setup
    : Create git service user
  user:
    name: git-server
    uid: 448
    state: present
    system: True
    create_home: False
    shell: /sbin/nologin
    home: /var/lib/git-server
  become: True

- name: >
    setup
    : Directories for containerized service user
  file:
    path: /var/lib/git-server/{{ item }}
    state: directory
    owner: git-server
    group: git-server
    mode: 0750
  become: True
  loop:
    - authorized_keys
    - home
    - .local
    - .cache

- name: >
    setup
    : Enable systemd linger for git user
  command: loginctl enable-linger git-server
  creates: /var/lib/systemd/linger/git-server
  become: True
