---
- name: >
    create : {{ user.name }}
    : Create user
  user:
    name: "{{ user.name }}"
    shell: "{{ user.shell | default('/bin/bash') }}"
    comment: "{{ user.comment | default('') }}"
    state: present
    password: "{{ user.pass_hash }}"
    home: "{{ user.home | default('/home/' + user.name) }}"
    uid: "{{ user.uid }}"
  become: True

- name: >
    create : {{ user.name }}
    : Admin User Role
  user:
    name: "{{ user.name }}"
    groups: "{{ admin_group[ansible_distribution] }}"
    append: True
  become: True
  when: user.admin | default('')


- name: >
    create : {{ user.name }}
    : Setup ZSH if needed for user
  include_role:
    name: shell/zsh
    tasks_from: "{{ item }}"
  loop:
    - main
    - user-setup
  when: user.shell == "/usr/bin/zsh"


- name: >
    create : {{ user.name }}
    : User ssh setup
  include_role:
    name: user/ssh
