---
- name: >
    install
    : Install Packages Required for Compile and Daemon
  dnf:
    name:
      - wayland-devel
      - gettext-devel
      - autoconf
      - intltool
      - libtool
      - inotify-tools
  become: True


- name: >
    install
    : Clone Git Repo for Wayland support
  git:
    repo: https://github.com/minus7/redshift.git
    dest: "/usr/local/src/redshift"
  become: True


- name: >
    install
    : Configure and Compile Redshift for Wayland
  command: "{{ item }}"
  items:
    - ./bootstrap
    - ./configure --enable-wayland
    - make
  become: True


- name: >
    install
    : Copy Wayland-enabled Redshift Binary
  copy:
    src: /usr/local/src/redshift/src/redshift
    dest: /usr/local/bin/redshift-wl
    remote_src: True
  become: True
