
Port {{ sshd.primary.port }}

{% for host in sshd.primary.allowed_static_hosts|default([]) %}
ListenAddress {{ static_isolated_hosts[host].gateway }}
{% endfor %}

PermitRootLogin no
AllowGroups ssh

AuthenticationMethods publickey
AuthorizedKeysFile .ssh/authorized_keys

#LogLevel VERBOSE



DisableForwarding yes
PrintMotd no

AcceptEnv {#
    #}XMODIFIERS  LC_ALL            {#
    #}LANG        LANGUAGE          {#
    #}LC_CTYPE    LC_NUMERIC        {#
    #}LC_TIME     LC_COLLATE        {#
    #}LC_MONETARY LC_MESSAGES       {#
    #}LC_PAPER    LC_MEASUREMENT    {#
    #}LC_ADDRESS  LC_TELEPHONE      {#
    #}LC_NAME     LC_IDENTIFICATION



Protocol 2
Compression no

Ciphers {#
    #}chacha20-poly1305@openssh.com,{#
    #}aes256-gcm@openssh.com,{#
    #}aes128-gcm@openssh.com,{#
    #}aes256-ctr
MACs {#
    #}hmac-sha2-256-etm@openssh.com,{#
    #}hmac-sha2-512-etm@openssh.com
HostKeyAlgorithms {#
    #}rsa-sha2-512,{#
    #}rsa-sha2-256,{#
    #}ssh-ed25519
KexAlgorithms {#
    #}curve25519-sha256,{#
    #}curve25519-sha256@libssh.org,{#
    #}diffie-hellman-group16-sha512,{#
    #}diffie-hellman-group18-sha512,{#
    #}diffie-hellman-group14-sha256
